<?xml version="1.0" encoding="UTF-8"?>
<suite name="HawkularUITest">
  <test name="HawkularOrganizationsTest">
    <classes>
      <class name="org.qe.hawkular.tests.HawkularDatasourcesTest" />
      <methods>
        <include name="hawkularAddJDBCDriversTest"></include>
      </methods>
    </classes>
  </test>
</suite>
